name: you_tour_app
description: Aplicativo de turismo YouTour

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  url_launcher: ^6.1.11 
  http: ^1.2.2
  sqflite: ^2.3.3+1
  sqflite_common_ffi: ^2.3.2+1
  path: ^1.9.0
  instagram_chat:
    path: Downloads/chat/youtour_chat
  shared_preferences: ^2.3.2
  sqlite3: 2.4.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/